fastapi
uvicorn[standard]
python-multipart
pydantic
google-generativeai
python-dotenv
langchain
langchain-classic
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
PyPDF2
faiss-cpu
